a. far inserire all'utente due valori interi

In [ ]:
num1 = int(input("inserire il primo numero: " ))
num2 = int(input("inserire il secondo numero: " ))

inserire il primo numero: 5
inserire il secondo numero: 2

b. effettuare le 4 operazioni aritmetiche tra i due numeri

In [ ]:
addition = num1 + num2
print(num1, "+", num2, "=", addition)
subtraction = num1 - num2
print(num1, "-", num2, "=", subtraction)
moltiplication = num1 * num2
print(num1, "*", num2, "=", moltiplication)
division = num1 / num2
print(num1, "/", num2, "=", division)

22 + 7 = 29
22 - 7 = 15
22 * 7 = 154
22 / 7 = 3.142857142857143

c. effettuare l'elevamento a potenza del primo numero per il secondo

In [ ]:
power = num1**num2
print(power)

512

d. effettuare il calcolo del resto della divisione tra il primo e il secondo numero

In [ ]:
remainder = num1 % num2
print(remainder)

1

f. effettuare la divisione intera tra il primo e il secondo numero

In [ ]:
divintera = num1 // num2
print(divintera)

3

g. incrementare di una unità entrambi i numeri

In [ ]:
num1 +=1 
num2 +=1 

print(num1)
print(num2)

22
7

h. far inserie all'utente due valori: il primo rappresenta la sua altezza (in metri) e il secondo rappresenta il suo peso (in kg). Visualizzare poi l'IMC (google it...)

In [ ]:
heightstring = float(input("inserire la tua altezza(m): " ))
weightstring = float(input("inserire il tuo peso(kg): " ))
IMC = weightstring / heightstring**2
print(IMC)

inserire la tua altezza(m): 1.75
inserire il tuo peso(kg): 73
23.836734693877553

i. arrotondare l'IMC precedente

In [ ]:
roundedIMC = round(IMC)

print(roundedIMC)

24

j. visualizzare il proprio nome, cognome, data di nascita e città di nascita separando le informazioni con un trattino.

In [ ]:
print("Luke - Basco - 12/04/05 - Solano")

nome = input("nome: ")
cognome = input("cognome: ")
data_di_nascita = input("data di nascita: ")
citta_di_nascita = input("citta di nascita: ")

print(nome, cognome, data_di_nascita, citta_di_nascita, sep='-fa')

Luke - Basco - 12/04/05 - Solano
nome: afd
cognome: dfasg
data di nascita: gsgs
citta di nascita: fefeeffea
afd-dfasg-gsgs-fefeeffea

k. visualizzare le stesse informazioni per 10 volte di seguito

In [ ]:
info = nome +' '+ cognome +' '+ data_di_nascita +' '+ citta_di_nascita + '\n'

print(info * 10)

afd dfasg gsgs fefeeffea
afd dfasg gsgs fefeeffea
afd dfasg gsgs fefeeffea
afd dfasg gsgs fefeeffea
afd dfasg gsgs fefeeffea
afd dfasg gsgs fefeeffea
afd dfasg gsgs fefeeffea
afd dfasg gsgs fefeeffea
afd dfasg gsgs fefeeffea
afd dfasg gsgs fefeeffea

l. assegnare il proprio nome e cognome ad una stringa e visualizzarla con tutte le lettere maiuscole

In [ ]:
Name = "Luke"
Surename = "Basco"

print("%s "%Name.upper() + '%s'%Surename.upper())

LUKE BASCO

m. assegnare il proprio nome e cognome ad una stringa e visualizzarla con le prime lettere maiuscole

In [ ]:
Name = "luke"
Surename ="basco"

print("%s "%Name.title() + "%s"%Surename.title())

Luke Basco

n. assegnare il proprio nome e cognome ad una stringa e visualizzarne la lunghezza

In [ ]:
Name = "Luke"
Surename = "Basco"

print("the lenght of my name is: ")
print(len(Name) + len(Surename))
print("characters")

the lenght of my name is:
9
characters

o. assegnare il proprio nome e cognome ad una stringa e contate quante vocali contiene

In [ ]:
Name = "Luke"
Surename = "Basco"

print("the total number of vocals in my name and surename is : ")
print(Name.count('u') + Name.count('e') + Surename.count('a') + Surename.count('o'))

the total number of vocals in my name and surename is :
4

In [ ]:
string = "luke basco"
vocali = "aeiou"
string = string.replace(" ", "")
contatore = 0
# per ogni lettera presente nella string trasformata in minuscolo
for lettera in string.lower():
  if lettera in vocali:
    contatore += 1
print("num consonanti: ")
print(len(string) - contatore)

num consonanti:
5

p. assegnare il proprio nome e cognome ad una stringa e visualizzare i primi 5 caratteri

In [ ]:
Name = "Luke"
Surename = "Basco"

print("the first 5 characters of my name is: " + Name[0:5])
print("the first 5 characters of my surename is: " + Surename[0:5])

the first 5 characters of my name is: Luke
the first 5 characters of my surename is: Basco

q. assegnare il proprio nome e cognome ad una stringa e visualizzare gli ultimi 5 caratteri

In [ ]:
Name = "Luke"
Surename = "Basco"

print("the last 5 characters of my name is: " + Name[5:10])
print("the last 5 characters of my surename is: " + Surename[5:10])

the last 5 characters of my name is:
the last 5 characters of my surename is:

r.. assegnare il proprio nome e cognome ad una stringa e visualizzare i 5 caratteri centrali

In [ ]:
Name = "Luke"
Surename = "Basco"

print("the 5 central characters of my name is: " + Name[0:5])
print("the 5 central characters of my surename is: " + Surename[0:5])

the first 5 characters of my name is: Luke
the first 5 characters of my surename is: Basco

s. assegnare il proprio nome e cognome ad una stringa e sostituire le vocali con una X

In [ ]:
Name = "Luke"
Surename = "Basco"

NameX = Name.replace('u', 'X')
NamewithX = NameX.replace('e', 'X')
SurenameX = Surename.replace('a', 'X')
SurenamewithX = SurenameX.replace('o', 'X')

print(NamewithX + " " + SurenamewithX )

LXkX BXscX