dal file: Copia di CorrezioneVerificaPandasFilaA&B.ipynb

In [ ]:
#   per importare un file 
import pandas as pd
medals = pd.read_excel('https://raw.githubusercontent.com/wtitze/3E/main/Medals.xlsx')
medals

    Rank                    Team/NOC  Gold  ...  Bronze  Total  Rank by Total
0      1    United States of America    39  ...      33    113              1
1      2  People's Republic of China    38  ...      18     88              2
2      3                       Japan    27  ...      17     58              5
3      4               Great Britain    22  ...      22     65              4
4      5                         ROC    20  ...      23     71              3
..   ...                         ...   ...  ...     ...    ...            ...
88    86                       Ghana     0  ...       1      1             77
89    86                     Grenada     0  ...       1      1             77
90    86                      Kuwait     0  ...       1      1             77
91    86         Republic of Moldova     0  ...       1      1             77
92    86        Syrian Arab Republic     0  ...       1      1             77

[93 rows x 7 columns]

In [ ]:
#   elimina colonne
medals.drop(columns= ['Total','Rank by Total'])

#   puo eliminare anche solo una colonna
teams.drop(columns= ['Event'])

######      per eliminare una riga
dataF = dataF.drop(3)   
dataF

# #     eliminare le ultime tre colonne
df = df.drop(columns = df.iloc[:, -3:])
df


###        df.loc[df["Telefono"].isnull() | df["Fax"].isnull()] 

###    elimina le rige che hanno come valore null
df = df.drop(df.index[df["Telefono"].isnull() | df["Fax"].isnull()], inplace = True)
df

#  un altro per droppare colonne usando filter, metti nell'items le colonne che vuoi che resti
df = df.filter(items = ["borough", "cuisine", "name"])


#   .dropna()  ------>   elimina i valori di una colonna che hanno come valore null
#   
df.dropna(inplace = True)

#   elimina i duplicati di uno specifa colonna, puio mettere piu colonne
df = df.drop_duplicates(subset=['brand'])

In [ ]:
#    rinominare una colonna
medals.rename(columns= {'Team/NOC' : 'Team'}, inplace=True)
medals

#   per sostituire un valore di una colonna 
dataF['fascia_anagrafica'].replace(['90+'], '90-120')

         ######     per sostituire un valore

# df[column_name].replace([old_value1, old_value2, old_value3], new_value)   -----> Sostituisci più valori con lo stesso valore

# df[column_name].replace([old_value1, old_value2, old_value3],[new_value1, new_value2, new_value3])   ------> Sostituisci più valori con più valori

# df.replace([old_value], new_value)     ------->   Sostituisci un valore con un nuovo valore per l’intero DataFrame

In [ ]:
#   RINOMINARE PIU COLONNE

# import pandas
import pandas as pd
  
# create data frame
df = pd.DataFrame({'First Name': ["Mukul", "Rohan", "Mayank",
                                  "Vedansh", "Krishna"],
                     
                   'Location': ["Saharanpur", "Rampur", "Agra", 
                                "Saharanpur", "Noida"],
                     
                   'Pay': [56000.0, 55000.0, 61000.0, 45000.0, 62000.0]})
  
# create a dictionary
# key = old name
# value = new name
dict = {'First Name': 'Name',
        'Location': 'City',
        'Pay': 'Salary'}
  
# call rename () method
df.rename(columns=dict,inplace=True)

In [ ]:
#  vedere il valore di una colonna(['Gold']) del valore specifico di un'altra colonna(medals['Team'] == 'Italy')

medals[medals['Team'] == 'Italy']['Gold']

In [ ]:
#   vedere il valore di una colonna(['Gold']) di un valore di una colonna che inizia con per esempio F (medals['Team'].str.startswith('F'))
medals[medals['Team'].str.startswith('F')][['Team','Gold']]

In [ ]:
#   vedere il valore di una colonna(['Gold']) di un valore di una colonna che contiene per esempio ra (medals['Team'].str.contains('ra'))
medals[medals['Team'].str.contains('ra')][['Team','Gold']]

In [ ]:
#   vedere il valore di una colonna(['Gold']) di un valore di una colonna che finisce per esempio ncia (medals['Team'].str.contains('ncia'))
medals[medals['Team'].str.endswith('ncia')][['Team','Gold']]

In [ ]:
#   fare una nuova colonna contenente interi
medals['Total'] = medals['Gold'] + medals['Silver'] + medals['Bronze']
medals

In [ ]:
#   fare una nuova colonna contenente interi in percentuale
medals['% of gold medals of a country'] = medals['Gold'] / medals['Gold'].sum()
medals

In [ ]:
#   visualizzare la riga del df che ha il valore piu alto in una colonna specifica
medals[medals['Total'] == medals['Total'].max()]

In [ ]:
#   sommare tutti i valore di una colonna
medals['Total'].sum()

In [ ]:
#   contare il numero di valori di una colonna per ogni valore di un'altra
teams[teams['Event'] == 'Men'][['Discipline']].count()

teams[teams['Event'] == 'Women'][['Discipline']].count()

#   anche in questo modo:

teams.groupby('Event', as_index = False)['Discipline'].count().sort_values(ascending = False) #  dal piu alto al piu basso

#   discipline = tipo di sport;  Name =  colonne dei nazioni
teams.groupby('Discipline', as_index = False)['Name'].count().sort_values(ascending = False)

In [ ]:
#   visualizzare l'elemento di una colonna(Name) che ha il valore massimo in un'altra colonna(NOC)
teams1 = teams.groupby('Name', as_index = False).count()
teams1.loc[teams1['NOC'] == teams1['NOC'].max(), ['NOC']]

In [ ]:
#   visualizza l'elemento di una colonna che ha più elementi in un'altra colonna rispetto alla media 
coaches1 = coaches.groupby('NOC', as_index = False).count()
media = coaches1.mean()['Name']
coaches1.loc[coaches1['Name'] >= media] ['Name']

------------------------------------------------------------------------------------------

dal file: PANDAS.ipynb

In [ ]:
#   vedere i primi 10 elementi
DataFrame.head(10)

In [ ]:
#   vedere gli ultimi 10 elementi
DataFrame.tail(10)

In [ ]:
#   vedere solo la colonna di name, è utile perche forse ci servira solo una parte delle info
DataFrame['Name']

In [ ]:
#   visualizzare piu colonne
DataFrame[['Name', 'Type 1']]

In [ ]:
#   Prende il valore del index inserito tra le parentesi quadre
DataFrame.iloc[4]     

#   possiamo passargli un array di numeri
DataFrame.iloc[[4,2,7]]

##    per vedere la prima colonna con lo slicing
df.iloc[:, :1]

##     vedere l'ultima colonna
df.iloc[:, -1:]

##    per vedere le colonne dalla 3 alla 6
df.iloc[:, 3:6]

In [ ]:
#   vedi le rige da 80 a 119 delle colonne: 2,7
DataFrame.iloc[80:120[2,7]]    

#   possiamo passargli lo slicing, visualizza gli ultimi 10
DataFrame.iloc[-10:]

#   possiamo passargli lo slicing, visualizza i primi 10
DataFrame.iloc[:10]

In [ ]:
#   prende tutti gli elementi e mostra la colonna 1 2 e 4   (con iloc si usano le index)
DataFrame.iloc[:,[1,2,4]]       

#   'Type 1', 'Name' sono le colonne  (con loc si usano le stringe)
DataFrame.loc[15:21, ['Type 1', 'Name']] 

##    vedere la 3 e 6 colonna
df.loc[:, ["3 colonna", "6 colonna"]]

##########    PER VISALIZZARE RIGHE CHE HANNO UN VALORE SPECIFICO MANCANTE SI USA .isnull()
df.loc[df["Telefono"].isnull() | df["Fax"].isnull()]

In [ ]:
#    prende  tutti i valori del dataframe della colonna type 1 che sono di tipo per esempio fire
DataFrame.loc[DataFrame['Type 1'] == 'Fire', ['Type 1', 'Name']]

In [ ]:
#   riporta tutte le righe che hanno nella colonna type 1 come valore fire e nella colonna generation come valore 6 contemporaneamente
DataFrame.loc[(DataFrame['Type 1'] == 'Fire') & (DataFrame['Generation'] == 6)] 

#    vedere le colonne [["Indirizzo", "Telefono", "MUNICIPIO"]]  che hanno come valore nella colonna "MUNICIPIO" 1,2,3
df.loc[(df["MUNICIPIO"] == 1) | (df["MUNICIPIO"] == 2) | (df["MUNICIPIO"] == 3)][["Indirizzo", "Telefono", "MUNICIPIO"]]

In [ ]:
#   puoi anche localizzare in una colonna un input
reg = input("inserire regione: ")
df.loc[df["nome_area"] == reg]

In [ ]:
#   riporta il dataframe con la colonna di 'name' riordinato da Z ad A, ascending infatti serve per riordinare la colonna di Name da Z ad A se è false
DataFrame.sort_values('Name', ascending = False)

In [ ]:
#   riporta il dataframe con la colonna di 'name' riordinato da A a Z, ascending infatti serve per riordinare la colonna di Name da A a Z se è True
DataFrame.sort_values('Name', ascending = True)

In [ ]:
##### %%time serve per vedere quanto tempo impiega a fare l'esecuzione
%time

###### per esportare
DataFrame.to_excel('./file.xlsx')
DataFrame.to_csv('./file.csv')
DataFrame.to_json('./file.json')

------------------------------------------------------------------------------------------

dal file: Esercizio Python, Pandas e Matplotlib(Luke Basco).ipynb

In [ ]:
!pip install squarify   ## per installare squarify   ---->   serve per fare un grafico di tipo treemap
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
#   visualizzare il numero di valori della colonna 'numero_dosi' associato per ogni valore della colonna 'fornitore'
df.groupby('fornitore', as_index = False)['numero_dosi'].sum()

In [ ]:
#   visualizzare il numero di vaccini() per ogni fornitore di una regione inserita dall'utente. Ordinare in ordine decrescente sul numero di vaccini
reg = input("inserire nome_area: ")
df[df["nome_area"] == reg].groupby("fornitore")["numero_dosi"].sum().sort_values(ascending = False)

In [ ]:
df2 = df[df["nome_area"] == reg].groupby("fornitore").sum()
df2
#   è uguale a

df2 = df[df["nome_area"] == "Abruzzo"].groupby("fornitore").sum()
df2

In [ ]:
#   visualizza gli elementi di una colonna('nome_area' esempio lombardia) e il loro corrispettivo valore da un'altra colonna('numero_dosi'), sommandoli ; da quello che ne ha di piu a chi ne ha di meno
df3 = df.groupby("nome_area", as_index = False)["numero_dosi"].sum().sort_values(ascending = False)
df3.iloc[:3]

In [ ]:
#   vedere gli elementi di una colonna che hanno come valore in un'altra, maggiore della media

tot = df["numero_dosi"].sum()
media = tot / 21

df4 = df.groupby("nome_area").sum()
df4.loc[df4["numero_dosi"] >= media]

In [ ]:
#   visualizzare il grafico delle consegne dei vaccini in Lombardia e nel Lazio. Visualizzare solo i dati delle consegne avvenute negli utlimi sei mesi

import datetime
from datetime import date, timedelta
from dateutil.relativedelta import relativedelta


#   per trovare la data del passato
past = date.today()- relativedelta(months = 6)
print(past)

#   per cercare in una colonna 2 elementi,  riporta solo le rige che hanno come elemento nella colonna 'nome_area' lombardia e lazio
dfll = df[(df["nome_area"] == "Lombardia") | (df["nome_area"] == "Lazio")]
dfll
#   per non avere dati riportati come boolean, ma come tabella
dfll2 = dfll[dfll["data_consegna"] > str(past)].groupby("nome_area").count()
dfll2

#   per trovare la data 
#date = datetime.now()

------------------------------------------------------------------------------------------

dal file: Esercizio2Pandas.ipynb

In [ ]:
#   TROVARE COLONNE SPECIFICHE DI ELEMENTI SPECIFICI
movies.loc[[23,29,45],["Film", "Year"]]

In [ ]:
#   vedere tutte le righe che hanno come elemento nella colonna 'genre', animation facendo vedere le colonne 'film' e 'genre'
movies.loc[movies["Genre"] == "Animation", ["Film", "Genre"]]


movies.loc[(movies["Lead Studio"] == "Disney") | (movies["Lead Studio"] == "20th Century Fox"), ["Film", "Lead Studio"]]


#  trova i film che sono uscito tra l'anno 2005 e 2010
movies.loc[(movies["Year"] <= 2010) & (movies["Year"] >= 2005), ["Film", "Year"]]

In [ ]:
#   media,per prima cosa trova nel df nella colonna 'genre' tutti quelli che hanno suo valore 'drama', e della loro colonna "Audience score %" fa la media di tutti con .mean()
movies.loc[movies["Genre"] == "Drama",["Audience score %"]].mean()

In [ ]:

####
movies.groupby("Genre")["Film"].count()
####


####
df.groupby("fascia_anagrafica")[["totale_popolazione"]].sum()
####

####
movies.groupby("Genre", as_index = False)["Film"].count()
####

In [ ]:
#   applica alla colonna e ai tutti suoi elementi * 0.9 (questo diminuisce i valori nella colonna di 10%)
movies["Audience score %"] = movies["Audience score %"] * 0.9
movies

In [ ]:
#   guarda il valore piu alto della colonna "Rotten Tomatoes %"
movies["Rotten Tomatoes %"].max()

------------------------------------------------------------------------------------------

dal file:  Esercizio1PANDAS.ipynb

In [ ]:
#   per vedere i titolo delle colonne come elementi di una lista
nord_italia.columns

In [ ]:
#   serve per vedere da quale index parte il df e a quale finisce
nord_italia.index

In [ ]:
#   trova nella colonna 'fascia_anagrafica' quelli che hanno come valore nella colonna 'totale' >= 10000000
dataF.loc[dataF['totale'] >= 10000000, ['fascia_anagrafica']]


#   trova nella colonna 'fascia_anagrafica' quelli che hanno come valore nella colonna 'totale' compreso tra 10000000 e 20000000
dataF.loc[(dataF['totale'] > 10000000) & (dataF['totale'] < 20000000), ['fascia_anagrafica']]

In [ ]:
#   fare una nuova colonna in % che ha solo 2 numeri dopo la virgola  ----->   round(df, 2)
dataF['%_sesso_maschile'] = round((dataF['sesso_maschile'] * 100) / dataF['totale'], 2)
dataF

In [ ]:
#   confronto tra 2 valori di 2 colonne diverse
dataF.loc[dataF['%_sesso_maschile'] > dataF['%_sesso_femminile'], ['fascia_anagrafica']]

In [ ]:
#   per sostituire un valore di una colonna 
dataF['fascia_anagrafica'].replace(['90+'], '90-120')

In [ ]:
####    creare un nuovo data frame contenente le prime dieci fasce anagrafiche
dataF2 = dataF.loc[:10,['fascia_anagrafica']]
dataF2

#####    creare un nuovo data frame contenente la fascia anagrafica e la prima e seconda dose
dataF3 = dataF.loc[:,['fascia_anagrafica', 'prima_dose', 'seconda_dose']]
dataF3

------------------------------------------------------------------------------------------

dal file: correzione_verifica_PANDAS_FILA2.ipynb

In [ ]:
# visualizzare la nazione che ha più atleti (in totale)

athletes2 = athletes.groupby('NOC').count()
maxx = athletes2['Name'].max()
athletes2.loc[athletes2['Name'] == maxx]['Name']

In [ ]:
# visualizzare il numero totale di atleti

athletes2["Name"].count()

dal file: Esercizio3Pandas.ipynb

In [ ]:
#########    PER VISALIZZARE RIGHE CHE HANNO UN VALORE SPECIFICO MANCANTE SI USA .isnull()
df.loc[df["Telefono"].isnull() | df["Fax"].isnull()]

In [ ]:
######       PER RIORDINARE UN VALORE DAL PIU GRANDE AL PIU PICCOLO
df.groupby("NIL")["Indirizzo"].count().sort_values(ascending = False)

##  .sort_values(ascending = False)

In [ ]:
###    visualizzare i municipi che hanno più di 15 uffici postali:

df1 = df.groupby("MUNICIPIO").count()                   ###### TROVA L'INDICE CHE HA IL VALORE PIU ALTO DI TUTTI DI UNA SPECIFICA COLONNA
df1.loc[df1["Indirizzo"] >= 10]["Indirizzo"]

In [ ]:
###    visualizzare il municipio che ha più uffici postali

df1 = df.groupby("MUNICIPIO").count()
max = df1["Indirizzo"].max()
df1.loc[df1["Indirizzo"] == max] ["Indirizzo"]

In [ ]:
###    visualizzare il municipio che ha meno uffici postali

df1 = df.groupby("MUNICIPIO").count()
min = df1["Indirizzo"].min()
df1.loc[df1["Indirizzo"] == min] ["Indirizzo"]

In [ ]:
#  # visualizzare il numero medio di uffici postali in ogni municipio
df.groupby("MUNICIPIO").count().mean()["Indirizzo"]

In [ ]:
#   #   visualizzare gli uffici postali che hanno un numero di uffici postali superiore alla media
df1 = df.groupby("MUNICIPIO").count()
media = df1.mean()["Indirizzo"]
df1.loc[df1["Indirizzo"] >= media] ["Indirizzo"]

In [ ]:
###        df.loc[df["Telefono"].isnull() | df["Fax"].isnull()] 
###    elimina le rige che hanno come valore null

df = df.drop(df.index[df["Telefono"].isnull() | df["Fax"].isnull()], inplace = True)
df

In [ ]:
## #   per modificare l'elemento di una colonna

df["Telefono"] = df["Telefono"].replace([df.loc[df["Indirizzo"].str.contains("VIALE ZARA")]], "02-69922222")

In [ ]:
#    sostituisce un carattere di un elemento di una colonna 

df["Telefono"] = df["Telefono"].str.replace('-', '/')
df.loc[:, "Telefono"]              ###########            SI USA .str.replace('cosavuoisostituire','concosalovuoisostituire')

------------------------------------------------------------------------------------------

dal file: Esercizio_Pandas/Matplotlib2.ipynb e Esercizio_Pandas/Matplotlib

In [ ]:
## !!  eliminare dal dataframe tutti i record, cioè rige, con valori NaN   ##

df.dropna(inplace = True)
df

In [ ]:
# !  modificare piu valori in una colonna
df3 = df.replace(df[df["Language"] != "English"]["Language"].tolist(), "non English")
df3

altro:

nuovodf = df.replace(df[df["cuisine"] != "American"]["cuisine"].tolist(), "non American")
nuovodf

#  ----->   senza .tolist()
portadf = df
portadf.loc[portadf["cuisine"] != "American", "cuisine"]= "Non American"
portadf

In [ ]:
#  un altro per droppare colonne usando filter, metti nell'items le colonne che vuoi che resti
df.filter(items = ["borough", "cuisine", "name"])

In [ ]:
#   conta il valore o le rige di una colonna che ha come elemento 'missing'
df[df["borough"] == "Missing"].count()

In [ ]:
# !!     per sostituire un elemento o un valore di una colonna con null
df["borough"].replace('Missing', np.nan, inplace = True)
df

In [ ]:
# !!     Elimini dal dataframe tutti i ristoranti di cui non si conosce il il valore della colonna 'borough'
df.drop(df[df["borough"].isnull()].index, inplace = True)
df

In [ ]:
#   .dropna()  ------>   elimina i valori di una colonna che hanno come valore null
#   
df.dropna(inplace = True)

In [ ]:
#   calcola il numero di elementi in una colonna, non sommandoli tutti, ma contando semplicemente i valori che si ripetono
df["cuisine"].value_counts()

#esempio: 
cuisine
American           6173
Chinese            2412
Café/Coffee/Tea    1210
Pizza              1162
Italian            1069
                   ... 
Iranian               2
Chilean               1
Californian           1
Polynesian            1
Creole/Cajun          1

In [ ]:
# l'elemento che è ripetuto piu volte 
df["cuisine"].value_counts().sort_values(ascending = False).index[0]

#esempio: 
'American'

---> # secondo modo
#   .reset_index()  ----->   diventa da indice a una colonna
df5 = df.groupby("cuisine").count().reset_index()
df5[df5["name"] == df5["name"].max()]["cuisine"]

In [ ]:
#   per fare groupby con piu elementi, per farlo si usa una lista
df35 = portadf.groupby(["borough", "cuisine"]).count()
df35

------------------------------------------------------------------------------------------

In [ ]:
####################      AVERE SEMPRE Esercizio_Pandas/Matplotlib.ipynb   APERTO!!!!!!    ##################

------------------------------------------------------------------------------------------

PER GRAFICI: dal file Esercizio_Pandas/Matplotlib.ipynb e Esercizio1-analisiDati.ipynb

In [ ]:
                 ISTOGRAMMA   GRAFICO    


#  ingrandisce tutto di 50% visto che il default del size di tutto è 10
plt.rcParams.update({"font.size" : 30})

#grandezza del grafico
fig.set_size_inches(14,9)

#  crea la figura
fig = plt.figure(figsize=(11,8))

#  crea gli assi
ax = plt.axes()

#  crea le barre
#  color = "chocolate" per cambiare il colore delle barre
#  dentro le virgolette mettere nome di un colore dalla tabella di cssdegli colori
ax.bar(x, y, color="chocolate")

#  ruota i label o i nomi dell'asse x
fig.autofmt_xdate(rotation=60) 

#  crea un titolo nell'asse x
ax.set_xlabel("Utenti")

#  crea un titolo nell'asse y
ax.set_ylabel("numero messaggio")

#  crea una griglia
ax.grid()

#   crea la griglia
ax.grid(linewidth = 1, color = "k", linestyle= "-")
ax2.grid(linewidth = 1, color = "k", linestyle= "-")

#per mettere che y inizia da 800
ax.set_ylim([800, 1100])

#  crea un titolo
fig.suptitle("tot messaggi")

#   cambia il colore di ogni barra o colonna con un colore diverso ogni volta

#   per mettere la legenda delle colonne o barre
ax.legend(loc=0)

plt.show()

In [ ]:
                        COME CREARE UN GRAFICO (ISTOGRAMMA) IN MODO ORRIZZONTALE



x = list(df["last_name"])
y = list(df["order_numbers"])

fig = plt.figure(figsize = (8,8))
ax = plt.axes()

plt.rcParams.update({'font.size': 10})

ax.set_ylabel('last names', fontsize=20)
ax.set_xlabel('order numbers', fontsize=20)
ax.barh(x, y, color = "g")  ### si usa barh   ---->  h sta per horizontal

fig.suptitle('Statistics of restaurants', color='k', fontsize=30)
plt.show()

In [ ]:
                           GRAFICO   ISTOGRAMMA    DECRESCENTE      


x = list(df.sort_values("order_numbers",ascending=False)["last_name"])
y = list(df["order_numbers"].sort_values(ascending=False))

fig = plt.figure(figsize = (8,8))
ax = plt.axes()

plt.rcParams.update({'font.size': 10})

ax.set_xlabel('last names', fontsize=20)
ax.set_ylabel('order numbers', fontsize=20)
ax.bar(x, y, color = "g")

fig.suptitle('Statistics of restaurants', color='k', fontsize=30)
plt.show()

In [ ]:
                     TORTA GRAFICO 


plt.rcParams.update({"font.size" : 12})

data = df.groupby(df["full_date"].dt.date).count()

fig = plt.figure()
ax = plt.axes()

#  autopct = "%1.1f%%"  ----->    nelle virgolette il primo 1 è la lontananza dei percentuali
#  startangle = 90   ------>    per ruotare il grafico
#  colors = ["yellow", "red","purple"]    ------->   per colorare il grafico e si alternano
#  si scrive con l'= perche possiamo scrivere le funzioni senza ordine
ax.pie(data["user_id"],labels = data.index, autopct = "%1.2f%%",startangle = 90, colors = ["yellow", "red","purple"])

fig.suptitle("grafico a torta")

plt.show()

In [ ]:
            ISTOGRAMMA    WIERD   grafico

import matplotlib.pyplot as plt
import numpy as np



#  .agg   ------>    sta per aggregate
#  "sum"   ----->   per sommare il valore di prima con il nuovo
#data = df.groupby("user_id").agg({"message_length" : "count", "has_media" : "sum", "has_links" : "sum"}).sort_values("message_length", ascending = False)

#  ingrandisce tutto di 50% visto che il default del size di tutto è 10
plt.rcParams.update({"font.size" : 20})


#   per fare i valori dell'asse x
labels = data.index     #  index sono gli user id

#   per fare i valori dell'asse y
#  questo fa : "message_length" - ("has_media" + "has_links")
msgs = np.subtract(data["message_length"],np.add(data["has_media"],data["has_links"]))    #  faccio la somma della 2 e 3 colonna(has_media,	has_links)


msgs_links= data["has_links"]
msgs_media= data["has_media"]

fig = plt.figure(figsize=(13,9))
ax = plt.axes()

ax.set_xlabel('utenti', fontsize=20)
ax.set_ylabel('tot messaggi', fontsize=20)

#  per fare il grafico: 
ax.bar(labels, msgs, color = "pink")

#  bottom = msgs    ---->    per metter che msgs nella barra sara al fondo
ax.bar(labels, msgs_links, bottom = msgs, color = "red")
ax.bar(labels, msgs_media, bottom = np.add(msgs,msgs_links), color = "black")

#  ruota i label o i nomi dell'asse x
fig.autofmt_xdate(rotation=60)

plt.show()

In [ ]:
      2   BARRE ISTOGRAMMA





fig = plt.figure(figsize=(6,4)) 
ax = plt.axes()

#   -0.15  ----->   perche la grandezza delle colonne è 0.3 e la meta è 0.15
#   +0.15  ----->   perche la grandezza delle colonne è 0.3 e la meta è 0.15
ax.bar(Ndf2.index - 0.15,Ndf2["American"],label="American",width=0.3,color="blue")
ax.bar(Ndf2.index + 0.15,Ndf2["Non American"],label="Non American",width=0.3,color="#ff8c00")
fig.autofmt_xdate(rotation=90)
fig.suptitle("Tipologia di cucina")

labels = list(Ndf2["borough"])
x = np.arange(len(labels))  # the label locations
ax.set_xticks(x, labels)

#   per mettere la legenda delle colonne o barre
ax.legend(loc=0)

In [ ]:
         MOSTRARE     2     GRAFICI


#   modo per mettere 2 grafici affiancati
fig, (ax,ax2) = plt.subplots(1,2)

#   modo per mettere 2 grafici uno sopra l'altro
fig, (ax,ax2) = plt.subplots(2,1)


fig.set_size_inches(15,6)

ax.bar(df3["cuisine"], df3["name"], color="cyan")
fig.autofmt_xdate(rotation=60) 
ax2.pie(data["name"],labels = data["borough"], autopct = "%1.2f%%",startangle = 90, colors = ["yellow", "red","purple"])

fig.suptitle("Grafici, a torta e istogramma")

plt.show

In [ ]:
               TREEMAP     GRAFICO


!pip install squarify   ## per installare squarify
import squarify as sqf  ## per importare



size = list(df2["numero_dosi"])
nomi = list(df2.index)   #    perche i dato sono da un groupby senza as_index=False
sqf.plot(sizes = size, label = nomi, alpha = 0.6)
plt.axis("off")
plt.show