In [ ]:
import pandas as pd
url = "https://raw.githubusercontent.com/wtitze/3E/main/Athletes.xlsx"
athletes = pd.read_excel(url)
athletes

                        Name      NOC           Discipline
0            AALERUD Katrine   Norway         Cycling Road
1                ABAD Nestor    Spain  Artistic Gymnastics
2          ABAGNALE Giovanni    Italy               Rowing
3             ABALDE Alberto    Spain           Basketball
4              ABALDE Tamara    Spain           Basketball
...                      ...      ...                  ...
11080  ZWICKER Martin Detlef  Germany               Hockey
11081      ZWOLINSKA Klaudia   Poland         Canoe Slalom
11082           ZYKOVA Yulia      ROC             Shooting
11083      ZYUZINA Ekaterina      ROC              Sailing
11084        ZYZANSKA Sylwia   Poland              Archery

[11085 rows x 3 columns]

In [ ]:
# visualizzare il numero di atleti maschi del nuoto


athletes[athletes["Gender"].str.cointains("Men")] ##########           ???????????????????

KeyError: ignored

In [ ]:
# visualizzare le discipline con meno di 100 atleti donne

In [ ]:
# aggiungere una colonna contenente il numero totale di atleti di ogni disciplina. Chiamare la colonna “Total”

df = athletes.groupby("Discipline").count()
athletes["Total"] = df["Name"]
athletes

In [ ]:
# visualizzare la nazione che ha più atleti (in totale)

athletes2 = athletes.groupby('NOC').count()
maxx = athletes2['Name'].max()
athletes2.loc[athletes2['Name'] == maxx]['Name']

NOC
United States of America    615
Name: Name, dtype: int64

In [ ]:
# visualizzare il numero totale di atleti

athletes2["Name"].count()

206

In [ ]:
athletes["Name"].count()

11085

In [ ]:
# aggiungere una colonna contenente la percentuale di atleti di ogni disciplina rispetto al totale. Chiamare la colonna “Percentuale”

tot = athletes["Name"].count()
athletes["Percentuale"] = round((100 * athletes2["Name"]) / tot)
athletes

In [ ]:
url = "https://raw.githubusercontent.com/wtitze/3E/main/Coaches.xlsx"
coaches = pd.read_excel(url)
coaches

                       Name  ...  Event
0           ABDELMAGID Wael  ...    NaN
1                 ABE Junya  ...    NaN
2             ABE Katsuhiko  ...    NaN
3              ADAMA Cherif  ...    NaN
4                AGEBA Yuya  ...    NaN
..                      ...  ...    ...
389  ZAMORA PEDREIRA Javier  ...    NaN
390      ZAMPIERI Francesca  ...   Duet
391          ZHANG Xiaohuan  ...    NaN
392              ZIJP Simon  ...    NaN
393           ZONDI Nkuliso  ...  Women

[394 rows x 4 columns]

In [ ]:
# visualizzare il numero di allenatori per ogni nazione. Ordinare in ordine decrescente a partire dalla nazione che ha più allenatori. 

df = coaches.groupby("NOC", as_index = False).count()
df["Name"].sort_values(ascending = False)

30    35
58    28
53    28
2     22
9     16
      ..
5      1
42     1
12     1
33     1
0      1
Name: Name, Length: 61, dtype: int64

In [ ]:
# visualizzare il numero di allenatori per ogni  disciplina. Ordinare in ordine decrescente in base alla disciplina in cui ci sono più allenatori

df = coaches.groupby("Discipline").count()
df["Name"].sort_values(ascending = False)

In [ ]:
# visualizzare il nome della nazione che ha portato più allenatori

max = df["Name"].max()
df.loc[df["Name"] == max]["Name"]

In [ ]:
df = coaches.groupby("NOC").count()
df

In [ ]:
# visualizzare il nome delle nazioni che hanno portato più allenatori rispetto alla media 

df = coaches.groupby('NOC').count()
media = coaches.groupby('NOC').count().mean()['Name']
df.loc[df["Name"] >=media]["Name"]

In [ ]:
# eliminare la colonna “Name”

coaches = coaches.drop(columns = ["Name"])
coaches

In [ ]:
# rinominare la colonna NOC in “Name”

coaches.rename(columns={"NOC" : "Name"}, inplace = True)
coaches