a. Creare un dizionario avente come chiavi regione, capoluogo, superficie, presidente e abitanti e per ciascuna chiave, inserire come valore una lista del corrispettivo attributo per tre regioni del nord Italia.

In [ ]:
diz = {'regione':['Lombardia', 'piemonte', 'Aosta'],
       'capoluogo':['Milano', 'torino', 'aosta'],
       'superficie':['23.844 km²', '25.387 km²', '21,37 km²'],
       'presidente':['attilio fontana', 'Alberto Albo Cirio', 'Erik Lavévaz'],
       'abitanti':['10,06 milioni (2019)', '4,356 milioni (2019)', '34.361 (2017)']}

b. Assegnare ad una variabile chiamata nord_italia un dataframe basato sopra il dizionario precedentemente creato.

In [ ]:
import pandas as pd


nord_italia = pd.DataFrame(diz)
nord_italia

NameError: ignored

c. Impostare regione come nuovo indice del dataframe. Visualizzare in fine il dataframe con il nuovo index.

In [ ]:
nord_italia.sort_values('regione', ascending = False)

     regione capoluogo  superficie          presidente              abitanti
1   piemonte    torino  25.387 km²  Alberto Albo Cirio  4,356 milioni (2019)
0  Lombardia    Milano  23.844 km²     attilio fontana  10,06 milioni (2019)
2      Aosta     aosta   21,37 km²        Erik Lavévaz         34.361 (2017)

In [ ]:
nord_italia.sort_values('regione')

     regione capoluogo  superficie          presidente              abitanti
2      Aosta     aosta   21,37 km²        Erik Lavévaz         34.361 (2017)
0  Lombardia    Milano  23.844 km²     attilio fontana  10,06 milioni (2019)
1   piemonte    torino  25.387 km²  Alberto Albo Cirio  4,356 milioni (2019)

d. Utilizzando il dataframe appena creato visualizzare solo i capoluoghi.

In [ ]:
nord_italia['capoluogo']

0    Milano
1    torino
2     aosta
Name: capoluogo, dtype: object

e. Visualizzare una lista delle colonne del dataframe.

In [ ]:
nord_italia.columns    ##### per vedere la lista di colonne

Index(['regione', 'capoluogo', 'superficie', 'presidente', 'abitanti'], dtype='object')

f. Visualizzare l'insieme degli indici.

In [ ]:
nord_italia.index

RangeIndex(start=0, stop=3, step=1)

--------------------------------------------------------------------------------------

In [ ]:
url = 'https://raw.githubusercontent.com/italia/covid19-opendata-vaccini/master/dati/anagrafica-vaccini-summary-latest.csv'

dataF = pd.read_csv(url)
dataF

  fascia_anagrafica    totale  ...  dose_booster  ultimo_aggiornamento
0             12-19   6281722  ...           267            2021-10-29
1             20-29   9918181  ...         28848            2021-10-29
2             30-39  10590345  ...         44401            2021-10-29
3             40-49  13796802  ...         57136            2021-10-29
4             50-59  15852115  ...         81187            2021-10-29
5             60-69  12901833  ...        104171            2021-10-29
6             70-79  10861693  ...         72169            2021-10-29
7             80-89   7613920  ...        654456            2021-10-29
8               90+   1735799  ...        143745            2021-10-29

[9 rows x 10 columns]

visualizzare il numero di vaccinati nella fascia 12-19

In [ ]:
dataF.loc[dataF['fascia_anagrafica'] == '12-19', 'totale']

0    6268693
Name: totale, dtype: int64

visualizzare il numero di vaccinati maschi e femmine

In [ ]:
dataF.loc[dataF['fascia_anagrafica'] == '12-19', ['sesso_maschile', 'sesso_femminile']]

   sesso_maschile  sesso_femminile
0         3209454          3059239

fasce di eta con piu di 10 millioni di vaccinazioni

In [ ]:
dataF.loc[dataF['totale'] >= 10000000, 'fascia_anagrafica']

2    30-39
3    40-49
4    50-59
5    60-69
6    70-79
Name: fascia_anagrafica, dtype: object

fasce di eta in cuo sono stati vaccinato tra i 10 e 20 millioni

In [ ]:
dataF.loc[(dataF['totale'] > 10000000) & (dataF['totale'] < 20000000), 'fascia_anagrafica']

2    30-39
3    40-49
4    50-59
5    60-69
6    70-79
Name: fascia_anagrafica, dtype: object

aggiungere una colonna percentuale sesso maschile dove inserire la percentuale i maschi vaccinati su totale

In [ ]:
dataF['%_sesso_maschile'] = round((dataF['sesso_maschile'] * 100) / dataF['totale'], 2)
dataF

  fascia_anagrafica    totale  ...  %_sesso_maschile  %_sesso_femminile
0             12-19   6268693  ...             51.20              48.80
1             20-29   9891343  ...             52.29              47.71
2             30-39  10555697  ...             51.35              48.65
3             40-49  13761536  ...             49.63              50.37
4             50-59  15818591  ...             49.06              50.94
5             60-69  12875027  ...             48.52              51.48
6             70-79  10840433  ...             46.97              53.03
7             80-89   7541357  ...             41.75              58.25
8               90+   1721375  ...             29.92              70.08

[9 rows x 13 columns]

fare la stessa cosa per le femmine

In [ ]:
dataF['%_sesso_femminile'] = round((dataF['sesso_femminile'] * 100) / dataF['totale'],2)
dataF

  fascia_anagrafica    totale  ...  %_sesso_maschile  %_sesso_femminile
0             12-19   6268693  ...             51.20              48.80
1             20-29   9891343  ...             52.29              47.71
2             30-39  10555697  ...             51.35              48.65
3             40-49  13761536  ...             49.63              50.37
4             50-59  15818591  ...             49.06              50.94
5             60-69  12875027  ...             48.52              51.48
6             70-79  10840433  ...             46.97              53.03
7             80-89   7541357  ...             41.75              58.25
8               90+   1721375  ...             29.92              70.08

[9 rows x 13 columns]

visualizzare le fasce di eta in cui la percentuale di maschi vaccinati e maggiore delle femmine vaccinate

In [ ]:
dataF.loc[dataF['%_sesso_maschile'] > dataF['%_sesso_femminile'], 'fascia_anagrafica']

0    12-19
1    20-29
2    30-39
Name: fascia_anagrafica, dtype: object

visualizzare le fasce di eta dove la dose aggiuntiva e minore della dose buster

In [ ]:
dataF.loc[dataF['dose_aggiuntiva'] < dataF['dose_booster'], 'fascia_anagrafica']

1    20-29
2    30-39
3    40-49
4    50-59
5    60-69
7    80-89
8      90+
Name: fascia_anagrafica, dtype: object

sostitutuire al valore 90+ il valore 90 - 120

In [ ]:
dataF['fascia_anagrafica'].replace(['90+'], '90-120')


         ######     per sostituire un valore

# df[column_name].replace([old_value1, old_value2, old_value3], new_value)   -----> Sostituisci più valori con lo stesso valore

# df[column_name].replace([old_value1, old_value2, old_value3],[new_value1, new_value2, new_value3])   ------> Sostituisci più valori con più valori

# df.replace([old_value], new_value)     ------->   Sostituisci un valore con un nuovo valore per l’intero DataFrame

0     12-19
1     20-29
2     30-39
3     40-49
4     50-59
5     60-69
6     70-79
7     80-89
8    90-120
Name: fascia_anagrafica, dtype: object

creare un nuovo data frame contenente le prime dieci fasce anagrafiche

In [ ]:
dataF2 = dataF.loc[:,['fascia_anagrafica']]
dataF2

  fascia_anagrafica
0             12-19
1             20-29
2             30-39
3             40-49
4             50-59
5             60-69
6             70-79
7             80-89
8               90+

creare un nuovo data frame contenente la fascia anagrafica e la prima e seconda dose

In [ ]:
dataF3 = dataF.loc[:,['fascia_anagrafica', 'prima_dose', 'seconda_dose']]
dataF3

  fascia_anagrafica  prima_dose  seconda_dose
0             12-19     3223185       2940568
1             20-29     5075497       4587980
2             30-39     5415036       4888959
3             40-49     6991305       6417692
4             50-59     8023900       7337139
5             60-69     6537683       5948012
6             70-79     5393839       5158247
7             80-89     3451789       3388016
8               90+      797161        768344

eliminare dal dataframe i dati relativi alle persone dai 40 a 69 anni

In [ ]:
dataF = dataF.drop(3)   ######      per eliminare una riga
dataF

  fascia_anagrafica    totale  ...  dose_booster  ultimo_aggiornamento
0             12-19   6268693  ...           229            2021-10-28
1             20-29   9891343  ...         25607            2021-10-28
2             30-39  10555697  ...         38989            2021-10-28
4             50-59  15818591  ...         71049            2021-10-28
5             60-69  12875027  ...         90443            2021-10-28
6             70-79  10840433  ...         60543            2021-10-28
7             80-89   7541357  ...        586807            2021-10-28
8               90+   1721375  ...        130540            2021-10-28

[8 rows x 10 columns]

eliminare dal data frame le colonne sesso femminile e sesso maschile

In [ ]:
dataF = dataF.drop(columns = ['sesso_maschile', 'sesso_femminile'])
dataF

  fascia_anagrafica    totale  ...  dose_booster  ultimo_aggiornamento
0             12-19   6281722  ...           267            2021-10-29
1             20-29   9918181  ...         28848            2021-10-29
2             30-39  10590345  ...         44401            2021-10-29
3             40-49  13796802  ...         57136            2021-10-29
4             50-59  15852115  ...         81187            2021-10-29
5             60-69  12901833  ...        104171            2021-10-29
6             70-79  10861693  ...         72169            2021-10-29
7             80-89   7613920  ...        654456            2021-10-29
8               90+   1735799  ...        143745            2021-10-29

[9 rows x 8 columns]