per utilizzarlo si scrive

In [ ]:
import pandas as pd

hanno una lista di elementi e indice

In [ ]:
d = {
    "c1": [1,2,3,4,5,6],
    "c2": [2,4,6,8,10,12],
    "c3": [3,6,9,12,15,18],
    "c4": [4,8,12,16,20,24]
    }

In [ ]:
DataFrame = pd.DataFrame(d)
DataFrame

   c1  c2  c3  c4
0   1   2   3   4
1   2   4   6   8
2   3   6   9  12
3   4   8  12  16
4   5  10  15  20
5   6  12  18  24

In [ ]:
url = 'https://gist.githubusercontent.com/armgilles/194bcff35001e7eb53a2a8b441e8b2c6/raw/92200bc0a673d5ce2110aaad4544ed6c4010f687/pokemon.csv'

DataFrame = pd.read_csv(url)
DataFrame

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 13 columns]

In [ ]:
DataFrame.head(10)   ##### per vedere i primi 10 elementi

In [ ]:
DataFrame.tail(10)   ##### per vedere gli ultimi 10 elementi

In [ ]:
DataFrame['Name']    ##### per vedere solo la colonna di name, è utile perche forse ci servira solo una parte delle info

In [ ]:
DataFrame[['Name', 'Type 1']]

In [ ]:
DataFrame.iloc[4]     #####   Prende il valore del index inserito tra le parentesi quadre

In [ ]:
DataFrame.iloc[[4,2,7]]    ##### possiamo passargli un array di numeri

In [ ]:
DataFrame.iloc[80:120[2,7]]    ######    2,7 sono le colonne

In [ ]:
DataFrame.iloc[-10:]    ##### possiamo passargli un array di numeri e anche con lo slicing

In [ ]:
DataFrame.iloc[:,[1,2,4]]       #####    prende tutti gli elementi e mostra la colonna 1 2 e 4   (con iloc si usano le index)
DataFrame.loc[15:21, ['Type 1', 'Name']]       #####     'Type 1', 'Name' sono le colonne  (con loc si usano le stringe)

In [ ]:
DataFrame['Type 1'] == 'Fire'     #####   riporta se true o false     
                                  ##### se è falso, non sara riportata nella lista che fara vedere

0      False
1      False
2      False
3      False
4       True
       ...
795    False
796    False
797    False
798    False
799     True
Name: Type 1, Length: 800, dtype: bool

In [ ]:
DataFrame.loc[DataFrame['Type 1'] == 'Fire']    #####    prende  tutti i valori del dataframe della colonna type 1 che sono di tipo fire

In [ ]:
DataFrame.loc[(DataFrame['Type 1'] == 'Fire') & (DataFrame['Generation'] == 6)] 
      ##### riportera la colonna type 1 che ha come tipo fire e la colonna di generation che ha come valore 6

In [ ]:
DataFrame.sort_values('Name', ascending = False)
    ##### ascending server per riordinare la colonna di Name da Z ad A se è false

In [ ]:
DataFrame.sort_values('Name', ascending = True)
    #####     ascending è true lo riordina da A a Z

In [ ]:
DataFrame.sort_values(['Type 1', 'Type 2'], ascending = [1,0])
    #####

In [ ]:
        
           ##### %%time serve per vedere quanto tempo impiega a fare l'esecuzione
           

DataFrame['differenza'] = DataFrame['Attack'] - DataFrame['Defense']   ### si fa cosi per fare una nuova colonna  
DataFrame

In [ ]:
%time
DataFrame = DataFrame.drop(columns = ['Defense', 'Attack'])     #####    cancella la colonna inserita
DataFrame

In [ ]:
###### per esportare
%time

DataFrame.to_excel('./file.xlsx')
DataFrame.to_csv('./file.csv')
DataFrame.to_json('./file.json')

CPU times: user 4 µs, sys: 0 ns, total: 4 µs
Wall time: 6.91 µs