# Index del dataframe
E' possibile impostare come valore dell'index del *DataFrame* i valori di una colonna specifica o un Array avente un numero di valori pari a quello delle righe

Ci sono due modi per impostare l'index del *DataFrame*:
* Passandogli come valore il nome di una colonna esistente `DataFrame.set_index('column_name' or list)` | [Docs](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.set_index.html)
* Impostandalo direttamente alla creazione di esso

Come dimostreremo in questo Notebook è consigliabile impostare un index alle righe per identificarle al meglio e per ridurre il tempo di esecuzione qunado ne viene avviata la ricerca.

In [36]:
import pandas as pd

df = pd.read_csv('./data/pokemon_list.csv')

df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [37]:
%%time
for _ in range(1, 10000): 
  df.loc[df['Name'] == 'Pikachu']


df.loc[df['Name'] == 'Pikachu']

Wall time: 5.88 s

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
30,25,Pikachu,Electric,NaN,35,55,40,50,50,90,1,False

In [38]:
df = df.set_index('Name')

df

,#,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,60,62,63,80,80,60,1,False
Venusaur,3,Grass,Poison,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,3,Grass,Poison,80,100,123,122,120,80,1,False
Charmander,4,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
Diancie,719,Rock,Fairy,50,100,150,100,150,50,6,True
DiancieMega Diancie,719,Rock,Fairy,50,160,110,160,110,110,6,True
HoopaHoopa Confined,720,Psychic,Ghost,80,110,60,150,130,70,6,True
HoopaHoopa Unbound,720,Psychic,Dark,80,160,60,170,130,80,6,True
Volcanion,721,Fire,Water,80,110,120,130,90,70,6,True

In [39]:
%%time

for _ in range(1, 10000): 
  df.loc['Pikachu']


df.loc['Pikachu']

Wall time: 1.47 s

#                   25
Type 1        Electric
Type 2             NaN
HP                  35
Attack              55
Defense             40
Sp. Atk             50
Sp. Def             50
Speed               90
Generation           1
Legendary        False
Name: Pikachu, dtype: object